@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&family=Permanent+Marker&display=swap');
* {
    margin: 8px 10px 8px 8px;
    padding: 0;
    border: none;
}
body {
    font-size: 100%;
    background-color: rgb(54, ,52, 52);
    color: #ffffff;
    font-family: 'lato', sans-serif;
}
/*Header*/
header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-image: url(/assets/image/info_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 120px;
    background-color: #ffffff;
}

.logo{
    text-shadow: 5px 10px #e7e5e5;
    margin-left: 100px;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
}

.logo h2 {
    color: black;
    font-family: 'Permanent Marker';
    font-size: 35px;
    margin-top: 17px;
}

.logo h3 {
    color: red;
    font-family: 'Permanent Marker';
    font-weight: 200;
    font-size: 30px;
    margin-top: -40px;
    padding-left: 30px;
}    

.menu {
    position: absolute;
    letter-spacing: 1px;
    right: 120px;
    top: 80px;
    
}    

.menubar{
    display: flex;
}

.menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.menu li {
    color: black;
    border-right: #000000 solid 1px;
    margin-left: -2px;
    list-style: none;
}

.menu a:hover {
    color: red;
    font-weight: 600;
}
/*Main*/

#main {
    width: 100%;
    height: 340px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding-top: 20px;
    background-color: #f3f2f2;
    background-image: url('../image/banner.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    border: black solid 3px;
    margin-left: -3px;
}

.main-text1 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-text2 {
    padding-top: 18px; 
    font-size: 23px;
    font-family: 'lato', sans-serif;
    font-weight: lighter;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 120px 50px 120px;
}

/*Button sign-up*/

.sign-up-button button {
    background-color: rgb(253, 252, 252);
    color: rgb(175, 3, 3);
    border: black solid 3px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
}


.btn-sign-up:hover {
    background-color: black;
    color: white;
    border: #ffffff solid;
}
/*Section*/

.methodology {
    position: relative;
    background-image: url("/assets/image/meth-background-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-color: #f3f2f2;
    color: black;
    height: 750px;
    padding-top: 10px;
    text-align: center;
    list-style-type: none;
    margin-left: -3px;
}

.methodology h1 {
    font-size: 33px;
    padding-bottom: 11px;
    border-bottom: rgb(252, 2, 2) solid;
    text-align: center;
}

.methodology h2 {
    font-size: 30px;
    padding-top: 5px;
}

.methodology li {
    list-style-type: none;
    font-size: 21px;
    font-weight: 500;
    padding-top: 60px;
    margin-right: 150px;
    transition: font-size 1s;
}

#methodology-left {
    float: left;
}

#left-heading {
    position: absolute;
    top: 140px;
    left: 190px;
}

#meth-image {
    position: absolute;
    left: 38%;
    top: 0;
}

#container-image {
    padding-top: 10px;
}

#center-meth-img {
    position: absolute;
    top: 160px;
    left: 39%;
    width: 290px;
    height: 420px;
    border-radius: 50px;
    margin-right: 0;
}

#methodology-right {
    float: right;
}

#right-heading {
    top: 170px;
    width: 150px;
    right: 0;
    
}


#methodology-left  li::before {
    content: "✔"; 
    color: red;
    margin-right: 10px;
}

#methodology-right li::before {
    content: "✔";
    color: red;
    margin-right: 10px;
}

/*button Programs*/

.programs-button {
    position: absolute;
    left: 41.5%;
    bottom: 49px;
}

.programs-button button {
    background-color: rgb(252, 5, 5);
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
}

.programs-button a {
    text-decoration: none;
}

.btn-programs:hover {
    background-color: white;
    color: black;
    border: red solid;
}