@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@1&family=Lato&family=Orbitron&family=Permanent+Marker&display=swap');
/*Initial style*/
* {
    margin: 8px;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    background-color: rgb(54, 52, 52);
    color: #ffffff;
    font-family: 'lato', sans-serif;
}
/*Header*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/logo_banner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
    background-color: #ffffff;
}
/*Logo*/
.logo{
    text-shadow: 5px 10px #e7e5e5;
    margin-left: -30%;
    text-transform: uppercase;
}
.logo a {
    text-decoration: none;
}
.logo h1 {
    color: black;
    font-family: 'Orbitron', 'sans-serif';
    font-size: 30px;
    font-weight: 800;
    margin-top: 17px;
}
.logo h2 {
    color: red;
    font-family: 'Orbitron', 'sans-serif';
    font-weight: 200;
    font-size: 30px;
    margin-top: -30px;
    padding-left: 30px;
}
/*Menu*/    
.menu {
    letter-spacing: 1px;
    margin-right: -30%;
} 
.menu ul {
    display: flex;
}
.menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}
.menu li {
    color: black;
    margin-left: -2px;
    list-style: none;
    margin-bottom: 5px;
}
.menu a:hover {
    color: #f80606;
}
#active {
    display: none;
}
/*Main Text*/
#main {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    padding-top: 20px;
    background-color: #9d0000;
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC//assets/image/banner.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: black solid 3px;
    margin: 0;
}
.main-text1 {
    color: white;
    text-shadow: rgb(150, 137, 137) 5px 5px 5px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: white solid 4px;
}
.main-text2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding-top: 18px; 
    font-size: 20px;
    text-shadow: #4d4a4a 1px 2px;
    font-weight: 100;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 2%
}
/*Button sign-up*/
#main button {
    padding: 12px 28px;
    margin: 0;    
    text-align: center;
    text-decoration: none;
}
.sign-up-button button{
    text-decoration: none;
    background-color: #474747;
    color: #ffffff;
    transition-duration: 0.4s;
    border-radius: 7px;
    padding: 12px 28px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-signup:hover {
    background-color: rgb(153, 150, 150);
    color: #FFFFFF;
    box-shadow: 1px 1px 50px 1px darkslategray;
}
/*Section Methodology*/
.methodology {
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/meth_background_image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f3f2f2;
    color: black;
    padding-top: 10px;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}
/*Methodology Heading*/
.methodology h2 {
    font-size: 33px;
    padding-bottom: 11px;
    border-bottom: rgb(252, 2, 2) solid;
}
.methodology h3 {
    font-size: 30px;
    padding-top: 5px;
}
/*Methodology list*/
#methodology-graph {
    display: flex;
    flex-direction: row;
    margin-left: 6.5%;
    margin-bottom: 50px;
    align-items: center;
}
/*Methodology left text*/
#methodology-left {
    margin: -40px 0 0 8%;
}
.methodology li {
    list-style-type: none;
    font-size: 21px;
    font-weight: 500;
    padding-top: 30px;
}
/*Methodology center image*/
#center-meth-img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 50px;
}
/*methodology right text*/
#methodology-right {
    margin: 0 11% 0 0;
}
#methodology-left  li::before {
    content: "✔"; 
    color: red;
    margin-right: 10px;
}
#methodology-right li::before {
    content: "✔";
    color: red;
    margin-right: 10px;
}
/*Button Programs*/
.methodology button {
    padding: 12px 28px;
    margin-bottom: 2%;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
.programs-button button{
    text-decoration: none;
    background-color: #9d0000;
    color: #FFFFFF;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
}
.btn-programs:hover {
    background-color: rgb(83, 8, 8);
    color: white;
    box-shadow: 1px 1px 50px 1px red;
}
/*History Briefing*/
#history-briefing {
    letter-spacing: 3px;
    font-weight: 600;
    height: auto;
    font-size: 18px;
    text-align: center;
}
/*History Briefing Heading*/
#history-briefing h2 {
    font-size: 23px;
    text-transform: uppercase;
    padding: 30px;
    border-bottom: #f80202 solid 2px;
}
.hb-container {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}
.hb-container p {
    margin-top: 20px;
}
/*History Brifing Image*/
#history-briefing img {
    height: 17em;
    padding: 2%;
}
.hb-container img {
    margin-left: 9%;
}
/*history briefin paragraph*/
.b-text {
    margin: 6%;    
}
#history-briefing p {
    border:  5px #f2f2f2 solid; 
    padding: 16px;
    color: #f2f2f2;
}
/* button history-briefing */
.history-button button {
    background-color: #9d0000;
    color: #ffffff;
    padding: 12px 38px;
    text-decoration: none;
    font-size: 22px;
    margin: 1%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    bottom: 5px;
}
.btn-history:hover{
    background-color: rgb(83, 8, 8);
    color: #ffffff;
    box-shadow: 1px 1px 50px 1px red;
}
/* Footer */
footer {
    height: 10em;
    font-weight: 500px;
    font-size: larger;
    text-align: center;
    border: red solid 4px;
    background-color: #f3f2f2;
    color: black;
}
footer h3 {
    font-size: 18px;
    margin: 15px;
}
footer p {
    color: #111111;
}
.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
    font-size: larger;
}
.social-networks i {
    font-size: 190%;
}
.facebook {
    color: blue;
}
.twitter {
    color: rgb(58, 122, 241);
}
.youtube {
    color: #f80202;
}
.instagram {
    color: rgb(175, 18, 175);
}
.social-networks p {
    padding-bottom: 20px;
}    
/* Programs */
#programs {
    background-color: #f2f2f2;
}
.programs {
    background-color: rgb(43, 42, 42);
    text-align: center;   
    width: fit-content;
    height: auto;
}
.programs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.programs div {
    padding: 30px;
    text-align: center;
    justify-content: space-evenly;
}
/*Programs Heading*/
.programs h2 {
    padding: 20px;
    border-bottom: #f3f2f2 solid;
    margin-bottom: 20px;
}
.programs h5 {
    padding-top: 5px;
    font-size: large;
    letter-spacing: 1px;
    font-weight: 400;
}
/*programs */
.programs h4 {
    border: black solid;
}
/*Academy*/
.academy {
    width: 29%;
}
.academy h3 {
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/academy_image.webp);
    background-position: center;
    background-size: 100%;
    height: 6em;
    padding-top: 50px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Orbitron', sans-serif;
    border: #f2f2f2 solid 2px;
}
.academy h4 {
    background-color: #f2f2f2;
    color: black;
    font-size: 18px;
    padding: 15px;
    text-transform: capitalize;
}
/*Students*/
.students {
    width: 29%;
}
.students h3 {
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/student_image.webp);
    background-position: center;
    background-size: 100%;
    height: 6em;
    padding-top: 50px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: #f2f2f2 solid 2px;
}
.students h4 {
    background-color: #f3f2f2;
    color: black;
    font-size: 18px;
    padding: 15px;
    text-transform: capitalize;
}
/*Competition*/
.competition {
    width: 29%;
}
.competition h3 {
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/competition_image.webp);
    background-position: center;
    background-size: 100%;
    height: 6em;
    padding-top: 50px;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: #f2f2f2 solid 2px;
}
.competition h4 {
    background-color: #f3f2f2;
    color: black;
    font-size: 18px;
    padding: 15px;
    text-transform: capitalize;
}
/* programs button */
.programs-container button {
    background-color: rgb(253, 252, 252);
    color: rgb(175, 3, 3);
    border: black solid 3px;
    padding: 10px 38px;
    text-decoration: none;
    font-size: 22px;
    margin: 4px 2px 50px 2px;
    transition-duration: 0.7s;
    cursor: pointer;
    border-radius: 7px;
}
.btn-signup-programs:hover {
    background-color: rgb(248, 7, 7);
    color: white;
    border: #ffffff solid;
}
/* Facilities */
.facilities {
    color: black;
    padding: 20px 35px;
    height: auto;
}
/*Facilities Heading*/
.facilities h2 {
    font-size: 30px;
    font-weight: 700;
    border-bottom: #f80202 solid;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.facilities p {
    padding: 20px 0 30px 0;
    font-size: large;
    font-weight: 400;
    letter-spacing: 1px;
}
/*facilities images*/
.facilities img {
    width: 23%;
    height: 16em;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Made to Shine */
.made-to-shine {
    background-color: rgba(0, 0, 0, 0.815);
    color: #f3f2f2;
    padding: 20px 35px;
}
/*made to shine link to wikipedia*/
.made-to-shine-container a {
    margin-left: 45%;
}
.made-to-shine a {
    font-size: 18px;
    color: orange;
    margin-top: -50px;
}
/*made to shine Images*/
.made-to-shine img {
    width: 28%;
    height: 25em;
    padding: 25px 20px;
    border-radius: 50px;
}
/*made to shine heading*/
.made-to-shine h2 {
    font-size: 33px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
.made-to-shine h4 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.made-to-shine p {
    padding: 10px 0;
    margin-top: 50px;
    font-size: 18px;
}
/*Made to shine divs*/
.made-to-shine-container div {
    padding: 25px 0 0 25px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    border-top: #f80202 solid 2px;
}
.made-to-shine div>h6 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    letter-spacing: 1px;
}
/*History*/
.history-head {
    height: auto;
    text-align: center;
    font-size: larger;
    border: #f3f2f2 solid 17px;
    margin-top: 15px;
    background-color: #A2A0A0;
    color: #000000;
}
/*History Image*/
.history-head img {
    margin: 20px 0 20px 0;
    width: 70%;
    height: 10em;
}
/*History text*/
.history-head h3 {
    border-bottom: #000000 solid 1px;
    padding-bottom:10px;
}
.history-head p {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: left;
    margin: 10px 99px 10px 99px;
}
/*Greatest*/
.greatest {
    height: auto;
    padding: 40px 0 20px 40px;
    border: #f3f2f2 solid 17px;
    margin-top: 45px;
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 600;
}
.greatest table {
    display: flex;
    flex-wrap: wrap;
}
/*Greatest Image*/
.greatest img {
    margin: 25px 20px 20px 0;
    width: 37rem;
}
/*Greatest Text*/
.greatest h3 {
    text-align: center;
    font-size: xx-large;
    text-transform: capitalize;
    font-family: 'Orbitron', sans-serif;
    border-bottom: #f2f2f2 solid 1px;
    padding-bottom: 5px;
}
/*Dream Team*/
#dream-team {
    text-align: center;
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/field_background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100rem 65rem;
}
/*Dream Team Image*/
#dream-team img {
    width: 39%;
    height: 58%;
    margin: 30px 0 35px 0;
}
/*Dream Team text*/
#dream-team h3 {
    align-items: center;
    text-align: center;
    margin: 20px 0 20px 0px;
    padding: 10px 0 10px 0;
    color: #ffffff;
    background-color: #5e5e5e85;
    box-shadow: 0px 5px 30px black;
    font-size: 28px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 1900;
    font-style: italic;
    text-transform: uppercase;
}
/*Dream Team Tables*/
.dream-team {
    display: flex;
    flex-direction: column;
}
.dream-team table {
    background-color: #ffffff;
    color: #000000;
}
.dream-team img {
    width: 15rem;
    height: 20rem;
}
.dream-team h3 {
    width: 22em;
    font-size: 28px;
    letter-spacing: 1px;
    margin: 30px 0 0 3%;
    padding-bottom: 5px;
    border-bottom: #ff0000 solid 2px;
}
.dream-team p {
    margin-left: 4%;
    width: 22em;    
}
.dream-team td {
    width: 100%;
}
.dream-team h5 {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 10px 20px 10px;
    padding: 0 20px 0 20px;
}
/*Rogerio Ceni*/
.rc {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Cafu*/
.cafu {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Dario Pereyra*/
.dario {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Lugano*/
.lugano {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Leonardo*/
.leonardo {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Mineiro*/
.mineiro {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Pedro-Rocha*/
.pedro-rocha {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Muller*/
.muller {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;;
}
/*Leonidas da Silva*/
.leonidas {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Careca*/
.careca {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Rai*/
.rai {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
}
/*Tele Santana*/
 .tele {
    border: rgb(189, 187, 187) solid 5px;
    margin-top: 25px;
 }
/*Morumbi*/
.morumbi {
    margin: 10px;
    color: #000000;
    text-align: center;
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/grey_background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.morumbi img {
    display: inline-block;
    width: 22%;
    height: 12rem;
    margin: 15px;
    border: #fa0101 groove 3px;

}
.morumbi h2 {
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 33px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: #474747 5px 1px 18px;
}
.morumbi p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding: 10px 60px 10px 60px;
    text-align: left;
    box-shadow: #474747 5px 1px 20px;
    background-color: #ccc;
}
/*Fans*/
.fans h2 { 
    font-size: 33px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0 20px 0;
}
.fans p {
    margin: 0 30px 25px 30px;
    font-size: larger;
    font-weight: 200;
    letter-spacing: 1px;
}
.fans img {
    display: inline-block;
    margin: 2.2%;
    width: 20%;
    height: 200px;
    border: #d3d0d0 solid 3px;
}
/* Sign-Up page */
#form-signup {
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/background1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 1300px;
}
/*Sign Up heading*/
.head-form {
    padding-top: 30px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}
#formid h3 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*Sign Up Form*/
.form1 {
    border-radius: 5px;
    background-color: #f2f2f2be;
    color: #000000;
    padding: 35px 50px 20px 50px;
    width: 50%;
    margin: 30px 25% 0px 25%;
    height: auto;
    box-shadow: 5px 10px 18px #888888;
    
}
.form1 label {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.form1 input[type=text], select {
    width: 100%;
    padding: 8px 18px;
    margin: 8px 0;
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.form1 input[type=email], select {
    width: 100%;
    padding: 8px 18px;
    margin: 8px 0;
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.form1 input[type=radio], select {
    margin-right: 30px;
}
.gender {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.gender label {
    padding-left: 5px;
    font-size: 18px;
    font-weight: 400;
}
#female {
    margin-left: -10px;
}
.zip[type=type], select {
    width: 100%;
    padding: 8px 18px;
    margin: 8px 0;
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: lowercase;
}
.form1 input[type=date], select {
    width: 100%;
    padding: 8px 18px;
    margin: 8px 0;
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
}
.form1 input[type=tel], select {
    width: 100%;
    padding: 08px 18px;
    margin: 8px 0;
    display: inline-block;
    border: #ccc solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type=submit] {
    width: 100%;
    background-color: #29e22f;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}
input[type=submit]:hover {
    background-color: #39913d;
}
#program, #country{
    text-transform: capitalize;
}
input[type=reset] {
    margin-left: 44%;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    background-color: #f2f2f234;    
}
/*Map*/
#map {
    background-color: #f2f2f2;
}
#map iframe {
    margin: 1% 0 1% 0;
    width: 100%;
    height: 23rem;
}
/*404 Error*/
.error{
    background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/field_background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.error_text{
    background-color: rgba(80, 80, 80, 0.548);
    text-align: center;
    width: 30%;
    margin: 5% 0 0 36%;
    margin-top: 5%;
    height: auto;
    border-radius: 10px;
}
.error_text img {
    width: 55%;
    margin: 6% 0 4% 0;
    border-radius: 5px;
    /* display: inline-block;
    border-radius: 50%;*/
    transform:  rotate(360deg);
    transition-duration: 4s;
}
.error_text h1 {
    color: red;
    font-size: 200%;
    font-family: 'Fragment Mono', monospace;
    margin-bottom: 3%;
}
.error_text h3 {
    font-size: larger;
    font-weight: lighter;
}
.error_text h4 {
    font-size: large;
    font-weight: lighter;
}
.error_text button {
    padding: 2% 7%;
    border-radius: 5px;
    background-color: #4CAF50;
     color: #ffffff;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
}

/* Media Querries*/

@media screen and (max-width:1150px) {
    /* burger menu */
    .wrapper {
    position: fixed;
    top: 42px;
    right: 8%;
    height:60%;
    width: 60%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #ffffff;
    clip-path: circle(2px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    border-radius: 7px;
    }
    #active:checked ~ .wrapper{
    clip-path: circle(100%);
    }
    .menu-btn{
    padding-top: 5px;
    position: fixed;
    z-index: 2;
    right: 9%;
    /* left: 20px; */
    top: 45px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 50px;
    border-radius: 30%;
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    }
    .menu-btn span {
        display: none;
        filter: contrast(1,75);
    }
    #active:checked ~ .menu-btn{
    color: #111111;
    }
    #active:checked ~ .menu-btn i:before{
    content: "\f00d";
    }
    .wrapper ul{
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    }
    .wrapper ul li{
    margin: 15px 0;
    }
    .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    color: #000000;
    border-radius: 50px;
    background: #ffffff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
    }
    .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #f50606;
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
    }
    .wrapper ul li a:hover:after{
    transform: scaleY(1);
    }
    .wrapper ul li a:hover{
    color: #000000;
    }
    input[type="checkbox"]{
    display: none;
    }
    
    @keyframes rotate {
        0%{
            filter: hue-rotate(0deg);
        }
        100%{
            filter: hue-rotate(360deg);
        }
    }    
    /*Header*/
    .header {
        background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/logo_banner_mobile.webp);
        background-position: center;
        background-repeat: no-repeat;
    }
    /*Main Text*/
    #main button {
        padding: 7px 18px;
        font-size: 17px;
    }
    /* Methodology */
    #methodology-graph {
        display: flex;
        flex-direction: column;        
        align-items: center; 
        text-align: center; 
        margin: 2%;  
    }
    #methodology-left {
        margin: 2% 0 0 -2%;
    }
    #methodology-right {
        margin: 2%;
    }
    #center-meth-img {
        width: fit-content;
        height: fit-content;
    }
    .methodology button {
        padding: 7px 18px;
        font-size: 17px;
    }
    /* History-Briefing */
    #history-briefing div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .b-text {
        margin: 0;
        
    }
    .b-img1 {
        margin: 0;
    }
    #history-briefing button {
        padding: 7px 18px;
        font-size: 17px;
        margin: 3%;
    }
    /*Programs*/
    .programs {
        position: relative;
        text-align: center;   
        z-index: -1;
    }
    .programs h2 {
        font-size: 22px;
    }
    .programs h5 {
        font-size: 17px;
    }
    .programs-container {
        display: flex;
        flex-direction: column;
    }
    .programs-container div {
        width: 90%;
        margin: 0 5%;
    }
    .programs button {
        padding: 7px;
    }
    .btn-signup-programs span {
        font-size: 17px;
    }
    /* Facilities */
    .facilities img {
        width: 45%;
    }
    .dream-team table{
         border: none;
    }
    .greatest h3 {
        font-size: 18px;
    }
    .greatest td {
        display: flex;
        flex-direction: column;
    }
    .greatest img {
        width: 70%;
        margin-left: 15%;
    }
    .greatest h5 {
        margin-left: -2.5%;
    }
    /*Dream team*/
    .dream-team td{
        display: flex;
        flex-direction: column;
    }
    .dream-team img {
        width: 45%;
        height: auto;
        margin-left: 25%;
    }
    .dream-team h3 {
        width: 95%;
        text-align: center;
    }
    .dream-team h5 {
        margin-left: 0;
    }
    /*Morumbi*/
    .morumbi {
        background-size: cover;
    }
    .morumbi img {
        width: 45%;
    }
    /* Our Support */
    .fans img {
        width: 45%;
    }
    /* Form */
    .form1 {
        width: 60%;
        align-content: center;
        margin: 20px 20% 0 20%; 
        height: auto;
    }    
}
@media screen and (min-width: 607px) and (max-width: 999px)  {
    /*Header*/
    .header {
        background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/logo_banner_mobile.webp);
        background-position: center;
        background-repeat: no-repeat;
    }
    .logo h1 {
        font-size: 28px;
        margin-left: 11%;
        width: max-content;
    }
    .logo h2 {
        font-size: 25px;
        margin-left: 11%;
        width: max-content;
    }
    /*Main text*/
    #main {
        background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/banner_mobile.webp);
        background-repeat: no-repeat;
    }
    #main h2 {
        font-size: 24px;
    }
    #main h4 {
        font-size: 22px;
        font-weight: 300;
    }
    .sign-up-button>button {
        padding: 7px 18px;
        font-size: 17px;
    }
    /*Methodology*/
    .methodology h2 {
        font-size: 25px;
    }
    .methodology h3 {
        font-size: 22px;
    }
    #center-meth-img{
        width: fit-content;
        height: auto;
    }
    .programs-button>button {
        padding: 7px;
        font-size: 17px;
    }
    /*History Briefing*/
    #history-briefing h2 {
        font-size: 18px;
    }
    .history-button>button {
        padding: 7px 18px;
        font-size: 17px;
    }
    /*Footer*/
    .social-networks li {
        font-size: 80%;
    }
    footer p {
        font-size: 80%;
        font-weight: 500;
    }
    /*Programs*/
    .programs {
        position: relative;
        text-align: center;   
        z-index: -1;
    }
    .programs h2 {
        font-size: 22px;
    }
    .programs h5 {
        font-size: 17px;
    }
    .programs-container {
        display: flex;
        flex-direction: column;
    }
    .programs-container div {
        width: 90%;
        margin: 0 5%;
    }
    .programs button {
        padding: 7px;
    }
    .btn-signup-programs span {
        font-size: 17px;
    }
    /*Facilities*/
    .facilities h2 {
        font-size: 20px;
    }
    .facilities p {
        font-size: 17px;
    }
    .facilities img {
        width: 100%;
        height: auto;
    }
    /*Made To Shine*/
    .made-to-shine h2 {
        font-size: 22px;
    }
    .made-to-shine h4 {
        font-size: 18px;
    }
    .made-to-shine p {
        font-size: 16px;
    }
    .made-to-shine-container div {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-bottom: 10%;
        font-size: 14px;
    }
    .made-to-shine-container img {
        width: fit-content;
    }
    .made-to-shine-container h6 {
        margin: 0 ;
        padding: 0;
        width: 90%;
    }
    /*History*/
    .history-head img {
        width: 80%;
        height: auto;
    }
    .history-head h3 {
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
    }
    .history-head p {
        font-size: 18px;
        margin-left: 10%;
    }
    /*Greatest*/
    .greatest h3 {
        width: 100%;
    }
    .greatest img {
        margin-left: -4%;
    }
    .greatest h5 {
        margin-left: -4%;
    }
    /*Dream Team*/ 
    #dream-team h3 {
        color: #f2f2f2;
    }
    #dream-team img {
        width: 60%;
    }
    .dream-team td>h3 {
        text-align: start;
        padding-left: 10%;
    }
    .dream-team td>img {
        width: 50%;
        height: 100%;
        margin-left: 20%;
    }
    .dream-team td>p {
        text-align: start;
        margin-left: 4%;
    }
    /*Morumbi*/
    .morumbi {
        background-image: none;
        background-color: #ccc4c4;
    }
    .morumbi img {
        width: 80%;
        height: 20rem;
    }
    .morumbi p {
        width: 90%;
    }
    /*Fans*/
    .fans {
        align-items: center;
    }
    .fans img {
        width: 80%;
        height: 20rem;
        margin-left: 10%;
    } 
    .fans p {
        font-size: 18px;
    }
    .fans h2 {
        font-size: 22px;
    }
    /*Form heading*/
    #form-signup {
        background-size: cover;
    }
    .head-form h2 {
        font-size: 25px;
    }
    #formid h3 {
        font-size: 20px;
    }
    /*Form*/
    .form1 {
        width: 70%;
        margin-left: 15%;
    }
    .form1 label {
        font-size: 16px;
    }
    .form1 input {
        font-size: 16px;
    }
    .gender input {
        margin-left: -5px;
    }
    /*404 Error*/
    .error_text {
        background-color: rgba(80, 80, 80, 0.548);
        text-align: center;
        width: 60%;
        margin: 3% 0 0 23%;
        height: auto;
        border-radius: 10px;
    }
    .error_text img {
        width: 55%;
        margin: 6% 0 4% 0;
        border-radius: 5px;
        /* display: inline-block;
        border-radius: 50%;*/
        transform:  rotate(360deg);
        transition-duration: 3s;
    }
    .error_text h1 {
        color: red;
        font-size: 200%;
        font-family: 'Fragment Mono', monospace;
        margin-bottom: 3%;
    }
    .error_text h3 {
        font-size: larger;
        font-weight: lighter;
    }
    .error_text h4 {
        font-size: large;
        font-weight: lighter;
    }
    .error_text button {
        padding: 2% 7%;
        border-radius: 5px;
        background-color: #4CAF50;
        
    }
    .error_text button>a {
        color: #ffffff;
        text-decoration: none;
        font-size: larger;
        cursor: pointer;
    }
}
@media screen and (min-width: 319px) and (max-width: 606px) {
    * {margin: 2px;}        
    /*Head*/
    .header {
        background-image: url(https://diegomoro415.github.io/SaoPaulo-SC/assets/image/logo_banner_mobile.webp);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        margin: 0 1% 0 0;
    }
    .logo {
        margin-top: -20px;
    }
    .logo h1{
        font-size: 140%;
        width: max-content;
        text-align: center;
        margin-left: 16%;
    }
    .logo h2 {
        font-size: 130%;
        text-align: center;
        margin-left: 11%;
        font-weight: 600;
        width: max-content;
    }
    .wrapper {
        right: 5%;
        height: 100%;
        width: 100%;
    }
    .menu-btn {
        padding-top: -10px;
        right: 5%;
        margin: 10px;
        height: 58px;
        width: 40px;
        font-size: 22px;
        font-weight: 700;
    }
    .wrapper, .menu-btn {
        top: 1%;
    }
    .wrapper a {
        font-size: 18px;
        margin: 0;
    }
    /*Main Text*/
    #main {
        background-image: url(https://diegomoro415.github.io/SaoPaulo-SC//assets/image/banner_mobile.webp);
        background-repeat: no-repeat;
    }
    .main-text1 h2 {
        font-size: 19px;
        text-align: center;
        font-weight: 800;
        margin: 3%;
    }
    .main-text2 h4 {
        font-size: 17px;
        font-weight: 300;
        margin: 3%;
    }
    .sign-up-button>button{
        padding: 7px 18px;
        font-size: 17px;
        margin: 5%;
    }
    /*Methodology*/
    .methodology h2 {
        font-size: 100%;
    }
    .methodology h3 {
        font-size: 100%;
    }
    #methodology-graph li{
        font-size: 100%;
    }
    #center-meth-img {
        width: 90%;
        height: auto;
    }
    #methodology-right li {
        font-size: 100%;
    }
    .programs-button>button {
        padding: 7px 18px;
        font-size: 17px;
        margin: 5%;
    }
    
    /*History Briefing*/
    #history-briefing h2 {
        font-size: 80%;
    }
    #history-briefing {
        margin: 2%;    
    }
    .b-img1 img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .b-text  {
        font-size: 12px;
    }
    .hb-container p {
        border: none;
        margin-bottom: 20px;
    }
    .history-button>button {
        padding: 7px 18px;
        font-size: 17px;
    }
    /*Footer*/
    footer a {
        font-size: 53%;
        
    }
    footer p {
        font-size: 80%;
        font-weight: 500;
        margin-top: 3%;
    }
    footer {
        height: auto;
    }
    /*Programs*/
    .programs {
        position: relative;
        z-index: -1;
    }
    .programs h2 {
        font-size: 20px;
    }
    .programs h5 {
        font-size: 18px;
        margin: 3%
    }
    .programs-container {
        display: flex;
        flex-direction: column;
    }
    .programs-container div {
        width: 97%;
        margin: 1.5%;
    }
    .btn-signup-programs span {
        font-size: 16px;
    }
    /*Facilities*/
    .facilities h2 {
        font-size: 19px;
    }
    .facilities p {
        margin: 0;
        font-size: 17px;
        text-align: start;
    }
    .facilities img {
        width: 100%;
    }
    /*Made To Shine*/
    .made-to-shine h2 {
        font-size: 22px;
    }
    .made-to-shine h4 {
        font-size: 18px;
        font-weight: 400;
    }
    .made-to-shine p {
        font-size: 16px;
        text-align: center;
        margin-top: 3%;
    }
    .made-to-shine-container div {
        display: flex;
        flex-direction: column;
        border-top: red solid 1px;
    }
    .made-to-shine-container img {
        width: 100%;
    }
    .made-to-shine-container h6 {
        margin-bottom: 10%;
        width: auto;
        font-size: 12px;
        text-align: initial;
    }
    .made-to-shine a {
        margin: 0 29% 0 29%
    }
    .history-head img {
        width: 80%;
        height: 20%;
    }
    .history-head h3 {
        font-size: 18px;
        width: 80%;
        margin-left: 10%;
        letter-spacing: 1px;
        padding-bottom: 7%;
    }
    .history-head p {
        font-size: 17px;
        padding-top: 20px;
        margin-left: 12%;
    } 
    .dream-team table{
        border: none;
    }
    /*Greatest*/
    .greatest h3 {
        font-size: 18px;
        margin-left: -12%;
    }
    .greatest td {
        display: flex;
        flex-direction: column;
    }
    .greatest img {
        width: 100%;
        height: auto;
        margin-left: -5%;
    }
    .greatest h5 {
        margin-right: 5%;
    }
    /*History Head*/
    .history-head p{
        width: fit-content;
        margin: 0 5% 0 5%;
    }
    /*Greatest*/
    .greatest img{
        width: 95%;
    }
    /*Dream Team*/
    #dream-team h3 {
        margin: 0;
    }
    #dream-team img {
        width: 60%;
    }
    .dream-team tr {
        width: 100%;
    }
    .dream-team td{
        display: flex;
        flex-direction: column;
    }
    .dream-team img {
        width: 60%;
        margin-left: 20%;
        height: auto;
    }
    .dream-team table {
        width: 90%;
    }
    .dream-team h3 {
        width: 95%;
        text-align: center;
        margin-left: 2.5%;
    }
    .dream-team p {
        margin-left: 5%;
    }
    .dream-team h5 {
        margin-left: 0;
    }
    /*Morumbi*/
    .morumbi {
        margin: 0;
        width: 100%;
        height: auto;
        background-image: none;
        background-color: #ccc4c4;
    }
    .morumbi img {
        width: 86%;
    }
    .morumbi h2 {
        font-size: 22px;
    }
    .morumbi p {
        font-size: 18px;
        width: 100%;
        font-weight: 300;
    }
    /*Fans*/
    .fans img {
        width: 90%;
        margin-left: 5%;
    }
    /*Form page*/
    #form-signup {
        background-size: cover;
    }
    /*Form Heading*/
    .head-form h2 {
        font-size: 22px;
    }
    #formid h3 {
        font-size: 19px;
        margin: 0 2px 0 2px;
    }
    /*Form*/
    .form1 {
        width: 95%;
        margin-left: 2.5%;
    }
    .form1 label {
        font-size: 14px;
    }
    .form1 input [type=text] {
        font-size: 12px;
        width: 100%;
    }
    .gender {
        display: flex;
        flex-direction: column;
    }
    .gender label {
        margin-top: 20px;
    }
    .gender input {
        margin-top: -20px;
    }
    #female {
        margin-left: 33%;
    }
    #male {
        margin-left: 33%;
    }
    input[type=reset] {
        margin-left: 33%;
    }
    /*404 Error*/
    .error_text{
        background-color: rgba(80, 80, 80, 0.548);
        text-align: center;
        width: 75%;
        margin: 9% 0 0 15%;
        height: auto;
        border-radius: 10px;
    }
    .error_text img {
        width: 55%;
        margin: 6% 0 4% 0;
        border-radius: 5px;
        /* display: inline-block;
        border-radius: 50%;*/
        transform:  rotate(360deg);
        transition-duration: 3s;
    }
    .error_text h1 {
        color: red;
        font-size: 200%;
        font-family: 'Fragment Mono', monospace;
        margin-bottom: 3%;
    }
    .error_text h3 {
        font-size: larger;
        font-weight: lighter;
    }
    .error_text h4 {
        font-size: large;
        font-weight: lighter;
    }
    .error_text button {
        padding: 2% 7%;
        border-radius: 5px;
        background-color: #4CAF50;
        
    }
    .error_text button>a {
        color: #ffffff;
        text-decoration: none;
        font-size: larger;
        cursor: pointer;
    }
}